<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348073305963-om0s2p13vrmjoq8j0ktllk4jdth35a3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348073305963-om0s2p13vrmjoq8j0ktllk4jdth35a3l</string>
	<key>API_KEY</key>
	<string>AIzaSyA3a5MkVop8gEXd8vCgWHyEkcDNKag_xmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>348073305963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.av.firebase</string>
	<key>PROJECT_ID</key>
	<string>coadableclient</string>
	<key>STORAGE_BUCKET</key>
	<string>coadableclient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348073305963:ios:f508f565836a9248</string>
	<key>DATABASE_URL</key>
	<string>https://coadableclient.firebaseio.com</string>
</dict>
</plist>